#plantilla{
    background:linear-gradient(180deg, rgba(199, 168, 155, 0.69) 22.06%, rgba(243, 209, 195, 0.356174) 48.38%, rgba(172, 145, 133, 0) 82.39%), #F7C1A9;
    box-shadow: 0px 5px 5px 1px #8b8987;
    border-radius: 30px;
    width: 546px;
    height: 494px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    text-align: left;
    margin:0 2% 2% 0;
}

#plantilla div{
    margin: 0 8% 8% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#plantilla div h2{
font-family: Overpass;
font-size: 47px;
font-style: normal;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

#plantilla div p{
    font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
color: #FFFFFF;
margin-bottom: 4%;

}
#plantilla div button{
    background: #2A9C8C;
box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;
width: 147px;
height: 58px;
border: none;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
font-size: 27px;
line-height: 120%;
font-family: Overpass;
font-style: normal;
font-weight: normal;
}